@import '../../styles//partials/all';

.tag_container {
  padding: 10px 0px;
}

.tag {
  clip-path: polygon(30% 0, 35% 50%, 30% 100%, 0 100%, 0 0);
  background-color: white;
  color: $primary-green;
  padding: 1px 8px;
  font-weight: 500;
}

.hr {
  max-width: 35px;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 2px;
}
