$primary-green: #3fb488;
$secondary-accent-blue: #005fbb;
$black: #121a17;
$white-pure: #ffffff;
$white-off: #f4f4f4;
$primary-light-green: #c9efde;
$accent-light-blue: #c3d9ee;
$secondary-text-gray: #7d8180;
$blue-light-background: #eef4fa;
$disbaled-text-field: #f3f3f3;
